@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins&display=swap" rel="stylesheet');

*{
  margin: 0px 0px;
  padding: 0px 0px ;
}
body {
    font-family: 'Poppins', sans-serif;
       background-size: cover;
       display: inline-block;
  
  }
  
  .menu{
    list-style: none;
    padding: 0;
    background:blueviolet ;
    width: 100%;
    border-radius: 150px;
    position: relative;
    left: 450px;
    top:70px;
  }
  .menu li{
    display:inline-block;
    text-align: center;
  }
  .menu li a{
    color:#fff;
    text-decoration: none;
    display: block;
    padding: 20px;
  }
  .menu li a:hover{
    color:aqua;
   background: blue;
  }

  .avatar{
    position: absolute;
    left: 675px;
    top:100px;
  }

  .logo{
    position: absolute;
    left: 670px;
    top:-10px;
    
  }
  .logo:hover{
    opacity: .5;
  }


  